@model Offer
@{
    var items = _uow.OfferActiveDatesRepository.GetMany(ent => ent.OfferId == Model.Id).ToHashSet();
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>تاريخ البداية</th>
            <th>تاريخ النهايه</th>
            <th class="no-sort">
                <i class="fas fa-plus text-warning" onclick="AddActiveDate()"></i>
            </th>
        </tr>
    </thead>
    <tbody class="ActiveDates">
        @foreach (var item in items)
        {
            <tr>
                <td data-title="StartDate">
                    <input type="text" name="StartDate" class="form-control StartDate" value="@item.StartDate.ToString("dd/MM/yyyy HH:mm", new CultureInfo("en-US")).ToString()" placeholder="تاريخ البداية" />
                </td>
                <td data-title="EndDate">
                    <input type="text" name="EndDate" class="form-control EndDate" value="@item.EndDate.ToString("dd/MM/yyyy HH:mm", new CultureInfo("en-US")).ToString()" placeholder="تاريخ النهاية" />
                </td>

                <td class="button">
                    <i class="far fa-trash-alt text-danger" data-toggle="tooltip" data-placement="top" title="حذف" onclick="DeleteActiveDate(this)"></i>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var jsonActiveDates=@Html.Raw(Json.Serialize(items));
</script>