@model EmailModelsResetPass
@{
    ViewBag.Title = "تغيير كلمة المرور";
    Layout = "_Email";
}
    <div class="text-center">
        <img src="@AppSession.AppURL/img/changepassword.png" alt="Reset Password" border="0">
        <p>If You Forget Your Password You Can Reset it by follow the link below  </p>
        <a class="btn btn-info" href="@Model.Url" target="_blank">  Reset Your Password <span class="fa fa-arrow-right"></span></a>
    </div>
   
