@model HashSet<Item>
@{
    ViewBag.Title = "لماذا صلحلى";
}


<!--Section: services -->
<section class="text-center ">
    <div class="sal7ly-important">
        <div class="row sectionheader">
            <div class="section-header-title">
                <p>لماذا صلحلى</p>
            </div>

        </div>
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-4 col-sm-6 sal7ly-important-item">
                <div class="row">
                    <div class=" sal7ly-important-item-inner">
                        <img src="~/@AppSession.ServicesUploads/1.jpeg" class="img-circle"  />
                    </div>
                </div>

                <div class="sal7ly-important-item-inner ">
                    <p>
                        loream absiem loream absiem loream absiem loream absiem loream absiem loream absiem loream absiem loream absiem
                    </p>

                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 sal7ly-important-item">
                <div class="row">
                    <div class=" sal7ly-important-item-inner">
                        <img src="~/@AppSession.ServicesUploads/1.jpeg" class="img-circle" width="100" height="100" />
                    </div>
                </div>

                <div class="sal7ly-important-item-inner ">
                    <p>
                        loream absiem loream absiem loream absiem loream absiem loream absiem loream absiem loream absiem loream absiem
                    </p>

                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 sal7ly-important-item">
                <div class="row">
                    <div class=" sal7ly-important-item-inner">
                        <img src="~/@AppSession.ServicesUploads/1.jpeg" class="img-circle" width="100" height="100" />
                    </div>
                </div>

                <div class="sal7ly-important-item-inner ">
                    <p>
                        loream absiem loream absiem loream absiem loream absiem loream absiem loream absiem loream absiem loream absiem
                    </p>

                </div>

            </div>
            <!--Grid column-->
        </div>
    </div>
    
</section>
<!--Section: services -->
<script src="~/js/e-commerceJs/main.js"></script>
