@model HashSet<Service>
@{
    ViewBag.Title = "الخدمات"; 
    }
    <section class="text-center ">
        <div class="slider-container">
            <div class="overlay"></div>
            <div class="container">
                <div class="introduction-text">
                    <h1>We are <span>creative</span> team</h1>
                    <p>Nam ex laborum labore odit unde similique dolores, debitis, vel laudantium cupiditate explicabo commodi.</p>
                </div>
            </div>

           
             </div>
        </div>
    </section>
