@model HashSet<Technical>
@{
    ViewBag.Title = "الفنيين";
}

    <div class="card ">
        <div class="card-header text-center">
            <h3> الفنيين</h3>
        </div>
        <div class="card-body">
            <div class="grid-container">
                <partial name="_SearchForm" />

                <div id="listDiv">
                    <partial name="_List" model="@Model" />
                </div>
            </div>
        </div>
    </div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Dev/Users/Index.js"></script>

<script>
        var Users = 'Users';
</script>
