
@{

    ViewBag.Title = "طلبات الفني";
}

<div class="search-portlet">
    <div class="row">
        <div class="col-md-12">
            <form action="/ServicesReport/SearchOrders" class="normal-search" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#listDiv" data-ajax-complete="SearchComplete" id="SearchForm" method="post" style="display: block;">
                <input type="hidden" id="source" value="@ViewBag.source" />
                <input type="hidden" id="UserId" name="UserId" value="@ViewBag.UserId" />

                <div class="row">
                    @*<div class="row showSearch">*@
                    <partial name="_Search" />
                </div>

                @*</div>*@
                <br />
                <div class="form-action">
                    <button type="submit" class="btn btn-primary pull-right margin-0-5" id="searchButton" onclick="reportOrdersSearch()">
                        <i class="fas fa-search"></i>
                        بحث
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Dev/TechnicalsReport/Index.js"></script>
<div id="techOrdersListDiv">
    <partial name="_TechOrdersList" model="@Model" />
</div>
<partial name="_ValidationScriptsPartial" />
