@model HashSet<Service>
@{
    ViewBag.Title = "الخدمات";
}

    <div class="card ">
        <div class="card-header text-center">
            <h3> الخدمات</h3>
        </div>
        <div class="card-body">
            <div class="grid-container">
                <partial name="_SearchForm" />
                @if (UserAccountMannager.HasPermission(_uow, _security, AppSession.CurrentUser.Id, EN_Screens.Services, EN_Permissions.Create))
                {
                    <button class="btn btn-warning mb-2" onclick="OpenForm(null)">
                        <i class="fas fa-plus"></i>
                      اضافة
                    </button>
                }
                <div id="listDiv">
                    <partial name="_List" model="@Model" />
                </div>
            </div>
        </div>
    </div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Dev/Services/Index.js"></script>

<script>
        var Services = 'Services';
</script>
