
<!-- Footer -->
<footer class="footer">
    <div class="container ">
        <div class="row">
            <div class="col-md-4 col-sm-6  col-xs-12">
                <div class="footer-content ">
                    <div class="row" >
                        <div style="margin:auto">
                            <img alt="e-commerce" class="img-circle " src="~/images/logo_.jpeg">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="footer-links"  style="margin:auto">
                            <div class="social">
                                <ul class="inline-mode">
                                    <li class="social-network fb">

                                        <a title="Connect us on Facebook" target="_blank" href="">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="social-network tw">

                                        <a title="Connect us on SnapChat" target="_blank" href="">
                                            <i class="fa fa-snapchat-ghost"></i>
                                        </a>
                                    </li>
                                    <li class="social-network rss">

                                        <a title="Connect us on Instagram" target="_blank" href="">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4 col-sm-6  col-xs-12 ">
                <h3 class="links-title links-title-yellow">@SharedLocalizer.GetString("تواصل معنا")</h3>
                <div class="footer-content footer-content-white">
                    <div class="email">
                        <i class="fa fa-envelope"></i>
                        <p>fhfghg</p>
                    </div>
                    <div class="phone">
                        <i class="fa fa-phone"></i>
                        <p>1111123435</p>
                    </div>
                    <div class="address">
                        <i class="fa fa-map-marker"></i>
                        <p>fffdfdf</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6  col-xs-12">
                <h3 class="links-title links-title-yellow">@SharedLocalizer.GetString("روابط هامة")</h3>
                <div class="footer-content footer-content-white">
                    <div>
                        <p>الرئيسية</p>
                    </div>
                    <div>
                        <p>من نحن</p>
                    </div>
                    <div>
                        <p>hhhh</p>
                    </div>
                    <div>
                        <p>jjjjj</p>
                    </div>
                    <div>
                        <p>jjj</p>
                    </div>
                    <div>
                        <p>تواصل معنا</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-coppyright">
        <div class="container text-center">
            <div class="row ">
                <div class="coppyright-center">
                    Copyright © @DateTime.Now.Year
                    <a href="/Home/Index"> MyStore </a>
                    . @SharedLocalizer.GetString("All Rights Reserved").
                </div>
                
            </div>
        </div>
    </div>
</footer>
<a href="#" class="totop"><i class="fa fa-arrow-up"></i></a>
<!-- End Footer -->
<script src="~/js/Dev/Footer.js"></script>