@model ChangePassword
@{
    ViewBag.Title = "تغيير كلمة المرور";
    Layout = "_Authenticate";
}


<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="~/img/changepassword.png" alt="ChangePassword" border="0">
                        <h3 class="text-center">Change Password Done </h3>
                        <p>Your Password Changed Successfully.</p>
                        <a href="/Account/LogIn">Log In With New Password To Manage your work</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>