@model ChangePassword
@{
    ViewBag.Title = "تغيير كلمة المرور";
    Layout = "_Authenticate";
}


<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="~/img/changepassword.png" alt="ChangePassword" border="0">
                        <h3 class="text-center">Password Not Secure?</h3>
                        <p>You can Change your password here.</p>
                        
                        <form id="changepassword-form" asp-action="ChangePassword" asp-controller="Account" class="form" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    @*<label for="Password" class="text-uppercase">كلمة المرور</label>*@
                                    <input id="CurrentPassword" name="CurrentPassword" asp-for="CurrentPassword" type="password" style="width:100%;" class="form-control" placeholder="Current Password"  >
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    @*<label for="Password" class="text-uppercase">كلمة المرور</label>*@
                                    <input id="NewPassword" name="NewPassword" asp-for="NewPassword" type="password" style="width:100%;" class="form-control" placeholder="New Password"  >
                                    @*<input id="NewPassword" name="NewPassword" asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" required oninvalid="this.setCustomValidity('Password Required')">*@
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    @*<label for="ConfirmPassword" class="text-uppercase">تأكيد كلمة المرور</label>*@
                                    <input id="ConfirmNewPassword" name="ConfirmNewPassword" asp-for="ConfirmNewPassword" type="password" style="width:100%;" class="form-control" placeholder="Confirm New Password"  >
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input name="btnForget"  class="btn btn-lg btn-primary btn-block btnForget" value="Change Password" type="submit">
                            </div>

                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>