@model ResetPasswordEmail
@{
    ViewBag.Title = "إعادة تعيين كلمة المرور";
    Layout = "_Authenticate";
}


<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="https://usa.afsglobal.org/SSO/SelfPasswordRecovery/images/send_reset_password.svg?v=3" alt="Reset Password" border="0">
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>Enter Email To Reset Your Password.</p>
                        
                        <form id="resetpasswordemail-form" asp-action="ResetPasswordEmail" asp-controller="Account" class="form" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    
                                    <input id="Email" name="Email" asp-for="Email" type="email" style="width:100%;" class="form-control " placeholder="Reset email" required >
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget" value="Send Reset Email" type="submit">
                            </div>

                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>