@model ResetPassword
@{
    ViewBag.Title = "إعادة تعيين كلمة المرور";
    Layout = "_Authenticate";
}


<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="https://usa.afsglobal.org/SSO/SelfPasswordRecovery/images/send_reset_password.svg?v=3" alt="car-key" border="0">
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        @if (Model.ActiveToken)
                        {
                            <form id="resetpassword-form" asp-action="ResetPassword" asp-controller="Account" class="form" method="post">
                                <div class="form-group">
                                    <input asp-for="token" type="hidden" />
                                    <span asp-validation-for="token" class="text-danger"></span>
                                </div>
                                    
                                <div class="form-group">
                                    <div class="input-group">
                                        @*<label for="Password" class="text-uppercase">كلمة المرور</label>*@
                                        <input id="Password" name="Password" asp-for="Password" type="password" class="form-control" placeholder="New Password" required oninvalid="this.setCustomValidity('Password Required')">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        @*<label for="ConfirmPassword" class="text-uppercase">تأكيد كلمة المرور</label>*@
                                        <input id="ConfirmPassword" name="ConfirmPassword" asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required oninvalid="this.setCustomValidity('Confirm Password Required')">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget" value="Reset Password" type="submit">
                                </div>

</form>
                        }
                        else
                        {
                            <h3 class="text-center " style="color:red;">Invalid token</h3>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>