@model HashSet<JobTitle>
@{
    ViewBag.Title = "مسمى وظيفي";
}

<div class="card ">
    <div class="card-header text-center">
        <h3> مسمى وظيفي</h3>
    </div>
    <div class="card-body">

        <div class="grid-container">
            <partial name="_SearchForm" />
            @*@if (UserAccountMannager.HasPermission(_uow, _security, AppSession.CurrentUser.Id, EN_Screens.JobTitle, EN_Permissions.Create))
            {
                <button class="btn btn-warning mb-2" onclick="OpenForm(null)">
                    <i class="fas fa-plus"></i>
                  اضافة
                </button>
            }*@
            <div id="listDiv">
                <partial name="_List" model="@Model" />
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/Dev/JobTitle/Index.js"></script>
    </div>
</div>
<script>
    var JobTitle = 'مسمى وظيفي';
</script>
